.gnaviShopFreeBlock {
    MARGIN-BOTTOM: 10px;
    MARGIN-LEFT: 10px;
    WIDTH: 930px;
    TEXT-ALIGN: left;
    word-wrap: break-word;      /* IE 5+ */
    word-break:break-all;
}
.gnaviShopFreeBlockForShopProduct {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; WIDTH: 930px; TEXT-ALIGN: center
}
.gnaviShopFreeBlockTall {
	BACKGROUND: #ddd; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; WIDTH: 930px; HEIGHT: 300px; TEXT-ALIGN: left
}
* HTML .gnaviShopFreeBlock {
	MARGIN-LEFT: 0px;
}
* HTML .gnaviShopFreeBlockTall {
	MARGIN-LEFT: 0px
}
.timeSaleBlock {
	BACKGROUND: url(../img/syohin/bg-timesale.gif) no-repeat left 34px; MARGIN: 10px; WIDTH: 930px; POSITION: relative; HEIGHT: 109px; TEXT-ALIGN: left
}
.timeSalePeriod {
	LEFT: 480px; LINE-HEIGHT: 1.1em; POSITION: absolute; TOP: 62px
}
#shopContent {
	MARGIN-LEFT: 10px; WIDTH: 930px; TEXT-ALIGN: left
}
.shopContentClass {
	MARGIN-LEFT: 10px; WIDTH: 930px; TEXT-ALIGN: left
}
* HTML #shopContent {
	MARGIN-LEFT: 0px
}
* HTML .shopContentClass {
	MARGIN-LEFT: 0px
}
*:first-child + HTML #shopContent {
	MARGIN-LEFT: 0px
}
*:first-child + HTML .shopContentClass {
	MARGIN-LEFT: 0px
}
#goodsTitle {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../img/syohin/title-bg.jpg) no-repeat; WIDTH: 920px; PADDING-TOP: 6px; HEIGHT: 25px; TEXT-ALIGN: left
}
#goodsTitle .product_name {
	font-size: 100%;
	line-height: 1;
}
.goodsTitleClass {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../img/syohin/title-bg.jpg) no-repeat; WIDTH: 920px; PADDING-TOP: 6px; HEIGHT: 25px; TEXT-ALIGN: left
}
#goodsInfo {
	BORDER-RIGHT: #6f6f6f 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6f6f6f 1px; PADDING-LEFT: 8px; BORDER-LEFT: #6f6f6f 1px solid; BORDER-BOTTOM: #6f6f6f 1px solid
}
.goodsInfoClass {
	BORDER-RIGHT: #6f6f6f 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6f6f6f 1px; PADDING-LEFT: 8px; BORDER-LEFT: #6f6f6f 1px solid; BORDER-BOTTOM: #6f6f6f 1px solid
}
#goodsMainInfo {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 653px
}
.goodsMainInfoClass {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 653px
}
#goodsDescription {
	BACKGROUND: url(../img/syohin/area-bg-body.jpg) repeat-y; WIDTH: 653px; TEXT-ALIGN: left
}
.goodsDescriptionCls {
	BACKGROUND: url(../img/syohin/area-bg-body.jpg) repeat-y; WIDTH: 653px; TEXT-ALIGN: left
}
#goodsDescriptionEnd {
	BACKGROUND: url(../img/syohin/area-bg-foot.jpg) no-repeat; MARGIN: 0px; WIDTH: 653px; HEIGHT: 21px
}
.goodsDescriptionEndC {
	BACKGROUND: url(../img/syohin/area-bg-foot.jpg) no-repeat; MARGIN: 0px; WIDTH: 653px; HEIGHT: 21px
}
#goodsName {
	PADDING-RIGHT: 17px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(../img/syohin/area-bg-head.jpg) no-repeat; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; WIDTH: 616px; PADDING-TOP: 20px
}
.goodsNameCls {
	PADDING-RIGHT: 17px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(../img/syohin/area-bg-head.jpg) no-repeat; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; WIDTH: 616px; PADDING-TOP: 20px
}
#goodsName SPAN {
	FONT-SIZE: 10pt
}
.goodsNameCls SPAN {
	FONT-SIZE: 10pt
}
#goodsName P {
	FONT-SIZE: 13pt; LINE-HEIGHT: 1.2em
}
.goodsNameCls P {
	FONT-SIZE: 13pt; LINE-HEIGHT: 1.2em
}
#goodsExplanation {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 20px; BORDER-LEFT: #666 1px solid; WIDTH: 590px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 1px solid
}
.goodsExplanationCls {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 20px; BORDER-LEFT: #666 1px solid; WIDTH: 590px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 1px solid
}
#goodsExplanation DL {
	MARGIN-BOTTOM: 10px
}
.goodsExplanationCls DL {
	MARGIN-BOTTOM: 10px
}
#goodsExplanation DD {
	LINE-HEIGHT: 1.6em
}
.goodsExplanationCls DD {
	LINE-HEIGHT: 1.6em
}
.itemPriceWrap {
	PADDING-LEFT: 10px; FLOAT: right; MARGIN: 5px 10px 5px 0px; BORDER-LEFT: #c00 2px dotted; WIDTH: 405px
}

.itemPriceYutaiWrap {
	PADDING-LEFT: 10px; FLOAT: right; MARGIN: 5px 10px 5px 0px; BORDER-LEFT: #B68C1C 2px dotted; WIDTH: 405px
}

* HTML .itemPriceWrap {
	PADDING-LEFT: 5px; MARGIN: 3px 0px 5px 5px
}
#goodsItemInfo {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../img/syohin/item-price-bg.jpg); PADDING-BOTTOM: 5px; MARGIN: 10px 20px; WIDTH: 604px; PADDING-TOP: 5px
}

.goodsItemInfoYutai {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../img/syohin/item-price-bg-yutai.jpg); PADDING-BOTTOM: 5px; MARGIN: 10px 20px; WIDTH: 604px; PADDING-TOP: 5px
}

.goodsItemInfoCls {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(../img/syohin/item-price-bg.jpg); PADDING-BOTTOM: 5px; MARGIN: 10px 20px; WIDTH: 604px; PADDING-TOP: 5px
}
.goodsItemInfoBg {
	BACKGROUND: #fff; WIDTH: 604px
}
#goodsShipment {
	PADDING-RIGHT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 146px; POSITION: relative; TEXT-ALIGN: right
}
.goodsShipmentCls {
	PADDING-RIGHT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 146px; POSITION: relative; TEXT-ALIGN: right
}
* HTML #goodsShipment {
	MARGIN: 5px 0px 10px 5px
}
* HTML .goodsShipmentCls {
	MARGIN: 5px 0px 10px 5px
}
#goodsShipment IMG {
	PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle
}
.goodsShipmentCls IMG {
	PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle
}
#goodsShipment LI {
	MARGIN-TOP: 15px
}
.goodsShipmentCls LI {
	MARGIN-TOP: 15px
}
.shippingDateTable {
	BORDER-RIGHT: #ccc 1px solid; MIN-WIDTH: 398px; MARGIN: 10px 20px 0px auto; BORDER-BOTTOM: #ccc 1px solid
}
.shippingDateTable TH {
	PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #eee7d6; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px
}
.shippingDateTable TD {
	PADDING-RIGHT: 6px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px
}
.goodsPurchaseArea {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: #f6f3e6; PADDING-BOTTOM: 10px; MARGIN: 10px 17px 0px 20px; WIDTH: 604px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.goodsPurchaseArea LI {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 1em
}
.goodsPurchaseArea INPUT {
	WIDTH: 85px
}
.goodsServicing {
	MARGIN-TOP: 10px; PADDING-BOTTOM: 10px; WIDTH: 653px; BORDER-BOTTOM: #ccc 1px dotted; TEXT-ALIGN: left
}
.goodsServicing DT IMG {
	MARGIN-BOTTOM: 5px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.goodsServicing DD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f6f3e6; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.4em; PADDING-TOP: 10px
}
.goodsInfoBox {
	PADDING-BOTTOM: 10px; WIDTH: 912px; TEXT-ALIGN: left
}
.goodsInfoContent TABLE {
	BORDER-RIGHT: #999 1px solid; MARGIN: 0px 10px 10px; WIDTH: 890px; BORDER-BOTTOM: #999 1px solid
}
.goodsInfoContent TH {
	PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #eee7d6; PADDING-BOTTOM: 8px; BORDER-LEFT: #999 1px solid; WIDTH: 152px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.goodsInfoContent TD {
	PADDING-RIGHT: 12px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 8px
}
.goodsInfoContent {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px; BACKGROUND: #f6f3e6; BORDER-LEFT: #999 1px solid; WIDTH: 910px; PADDING-TOP: 10px; BORDER-BOTTOM: #999 1px solid
}

div.itemPriceWrap {
	*width: 390px;
}
