@charset "utf-8";
/* プレーン
-------------------------------------------------------------------------------- */
body {
	background-color: #FFF;
/*	background: #f0ebdf;*/
}

#gnaviShopArea .gnaviInner {

}

#gnaviShopName {
	background: #e2dbbf;
}

#gnaviShopMessage {
	/*background: #fff;*/
	color: #000;
	margin: 0;
	border: solid 3px #fff;
}

#gnaviShopHeader {
	background-color: #fff;
}

#gnaviShopContent {
	/*background: #fff;*/
}

/* ナビ 7コ
-------------------------------------------------------------------------------- */
#gnaviShopMainNav7 li {
	background: url("../img/shop/plain/nav7.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li a {
	color: #4d3b17;
	background: url("../img/shop/plain/nav7.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li a:hover {
	background: url("../img/shop/plain/nav7_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navL {
	background: url("../img/shop/plain/nav7-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navL a {
	background: url("../img/shop/plain/nav7-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navL a:hover {
	background: url("../img/shop/plain/nav7-l_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navR {
	background: url("../img/shop/plain/nav7-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navR a {
	background: url("../img/shop/plain/nav7-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav7 li.navR a:hover {
	background: url("../img/shop/plain/nav7-r_on.jpg") 0 0 no-repeat;
}

/* ナビ 8コ
-------------------------------------------------------------------------------- */
#gnaviShopMainNav8 li {
	background: url("../img/shop/plain/nav8.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li a {
	color: #4d3b17;
	background: url("../img/shop/plain/nav8.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li a:hover {
	background: url("../img/shop/plain/nav8_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navL {
	background: url("../img/shop/plain/nav8-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navL a {
	background: url("../img/shop/plain/nav8-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navL a:hover {
	background: url("../img/shop/plain/nav8-l_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navR {
	background: url("../img/shop/plain/nav8-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navR a {
	background: url("../img/shop/plain/nav8-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav8 li.navR a:hover {
	background: url("../img/shop/plain/nav8-r_on.jpg") 0 0 no-repeat;
}

/* ナビ 9コ
-------------------------------------------------------------------------------- */
#gnaviShopMainNav9 li {
	background: url("../img/shop/plain/nav9.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li a {
	color: #4d3b17;
	background: url("../img/shop/plain/nav9.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li a:hover {
	background: url("../img/shop/plain/nav9_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navL {
	background: url("../img/shop/plain/nav9-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navL a {
	background: url("../img/shop/plain/nav9-l.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navL a:hover {
	background: url("../img/shop/plain/nav9-l_on.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navR {
	background: url("../img/shop/plain/nav9-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navR a {
	background: url("../img/shop/plain/nav9-r.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav9 li.navR a:hover {
	background: url("../img/shop/plain/nav9-r_on.jpg") 0 0 no-repeat;
}

/* ナビ 14コ
-------------------------------------------------------------------------------- */
#gnaviShopMainNav14 {
	background: #CFC4AE;
	border: solid #948E80 3px;
}

#gnaviShopMainNav14 li {
	background: url("../img/shop/plain/nav14.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav14 li a {
	color: #220803;
	background: url("../img/shop/plain/nav14.jpg") 0 0 no-repeat;
}

#gnaviShopMainNav14 li a:hover {
	background: url("../img/shop/plain/nav14_on.jpg") 0 0 no-repeat;
}

/*
-------------------------------------------------------------------------------- */
.gnaviShopTmpArea {
	background: #fff;
	border: solid 3px #ccc;
}

.gnaviShopTmpHeader {

}

.gnaviShopTmpHeading {
	color: #333;
}

.gnaviShopTmpImg {
	border: solid 3px #999;
}

.gnaviShopTmpBody {
	color: #000;
}

.gnaviShopTmpFooter {

}

/* ニュース、おすすめ、等
-------------------------------------------------------------------------------- */
.gnaviShopTmpTitle {
	color: #000;
}
/* 2カラム */
#gnaviShopMainBlock .gnaviShopTmpTitle {
	background: url(../img/shop/plain/shop_heading_wide.jpg) no-repeat;
}
/* 3カラム */
#gnaviShopMain .gnaviShopTmpTitle {
	background: url(../img/shop/plain/shop_heading.jpg) no-repeat;
}

.gnaviShopTmpBlock {
	border: solid 1px #ccc;
	border-top: none;
}

/* おすすめ
-------------------------------------------------------------------------------- */
.gnaviShopRecommendBlock {
	background: #fff;
	border: solid 3px #ccc;
	border-top: none;
}

.gnaviShopRecommendImg {
	border: solid 3px #999;
}

.gnaviShopRecommendText dt a {
	color: #07519a;
}

.gnaviShopRecommendText dd {
	color: #000;
}

dd.gnaviShopRecommendPrice {
	color: #c00;
}

.gnaviShopTmpBlockHead {
	background: url("../img/shop/plain/shop_double_line.jpg") bottom repeat-x;
}

.gnaviShopTmpBlockHead span {
	background: url("../img/shop/plain/shop_list_mark.jpg") left center no-repeat;
}

.gnaviShopTmpBlockImgL,
.gnaviShopTmpBlockImgR {
	border: solid 3px #999;
}

.gnaviShopTmpBlockImgL.lineNone,
.gnaviShopTmpBlockImgR.lineNone {
	border: none;
}

/* 店長紹介
-------------------------------------------------------------------------------- */
#gnaviShopManagerBlock {
	border: solid 3px #999;
}

#gnaviShopManagerProf {
	color: #000;
}

#gnaviShopManagerProf dt {
	border-bottom: solid 1px #999;
	color: #333;
}

#gnaviShopManagerImg {
	border: solid 3px #999;
}

.gnaviShopBlock {
	background: #fff;
	border: solid 1px #ccc;
	border-top: none;
}

/* プレゼント
-------------------------------------------------------------------------------- */
.gnaviShopMainPresentImg,
.gnaviShopPresentImg {
	background: url("../img/shop/plain/shop_present_image_bg.jpg") bottom no-repeat;
}

/* 右カラム ランキング
-------------------------------------------------------------------------------- */
#gnaviShopRankingTitle {
	background: url("../img/shop/plain/shop_ranking_title.jpg") no-repeat;
}

#gnaviShopRankingBlock {
	background: #fff;
	border: solid 1px #ccc;
	border-top: none;
}
#gnaviShopRank1 {
	background: url("../img/shop/plain/shop_ranking_1.jpg") no-repeat;
	border-bottom: dotted 1px #ccc;
}

#gnaviShopRank2 {
	background: url("../img/shop/plain/shop_ranking_2.jpg") no-repeat;
	border-bottom: dotted 1px #ccc;
}
#gnaviShopRank3 {
	background: url("../img/shop/plain/shop_ranking_3.jpg") no-repeat;
}

/* 右カラム　レビュー
-------------------------------------------------------------------------------- */
#gnaviShopReviewTitle {
	background: url("../img/shop/plain/shop_review_title.jpg") no-repeat;
}

/* 右カラム　スタッフ
-------------------------------------------------------------------------------- */
#gnaviShopStaff {
	background: url("../img/shop/plain/shop_staff_body_bg.jpg") repeat-y;
}

#gnaviShopStaffTitle {
	background: url("../img/shop/plain/shop_staff_head.jpg") no-repeat;
}

#gnaviShopStaffFooter {
	background: url("../img/shop/plain/shop_staff_foot.jpg") no-repeat;
}

/* 左カラム
-------------------------------------------------------------------------------- */

/* 検索
-------------------------------------------------------------------------------- */
#gnaviShopSearchTitle {
	background: url("../img/shop/plain/shop_search_title.jpg") no-repeat;
}

#gnaviShopCatTitle {
	background: url("../img/shop/plain/shop_category_title.jpg") no-repeat;
}

#gnaviShopMMTitle {
	background: url("../img/shop/plain/shop_mail_magazine_title.jpg") no-repeat;
}

/* セール
-------------------------------------------------------------------------------- */
#gnaviSaleBlockTmp {
	border: solid 5px #7d795e;
	border-top: none;
}

#gnaviSaleBlock {
	background: #fff;
}

#gnaviShopLeader,
#gnaviShopOpening,
#gnaviShopTrialset {
	overflow: hidden;
	text-indent: -9999px;
	height: 54px;
	width: 205px;
}

#gnaviShopLeader {
	background: url("../img/shop/plain/shop_leader_title.gif") no-repeat;
}

#gnaviShopOpening {
	background: url("../img/shop/plain/shop_openingsale_title.gif") no-repeat;
}

#gnaviShopTrialset {
	background: url("../img/shop/plain/shop_trialset_title.gif") no-repeat;
}

/* カレンダー
-------------------------------------------------------------------------------- */
#gnaviShopCalendarTitle {
	background: url("../img/shop/plain/shop_calendar_title.jpg") no-repeat;
}

#gnaviShopCalendarBlock {
	background: #fff;
	border-left: solid 1px #ccc;
}

.gnaviShopCalendarTable caption {
	background: #f9f6f0;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
	color:#3B3109;
}

.gnaviShopCalendarTable th {
	background: #f9f6f0;
}

.gnaviShopCalendarTable th,
.gnaviShopCalendarTable td {
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

/* プレゼント
-------------------------------------------------------------------------------- */
#gnaviShopPresent {
	background: url("../img/shop/plain/shop_present_title.jpg") no-repeat;
}


/* 左カラム下段メニュー
-------------------------------------------------------------------------------- */
#gnaviShopMenuTitle {
	background: url("../img/shop/plain/shop_menu_title.jpg") no-repeat;
}
#gnaviShopMenuBlock {
	background: #fff;
	border: solid 1px #ccc;
	border-top: none;
}

.gnaviShopMenuItem {
	border-bottom: dotted 1px #ccc;
}

/* 下段テーブル
-------------------------------------------------------------------------------- */
#gnaviShopFooter {
	/*background: #fff;*/
}

#shopBottomInfo {
	background: #FFFFFF url("../img/shop/plain/shopBottomInfo.jpg") repeat-x;
}
#shopBottomInfo p {
	background: url("../img/shop/plain/icon-circle-umber.gif") no-repeat 0 14px;
}

#gnaviShopGuide table {
	border-left: solid 1px #ccc;
	border-top: solid 1px #ccc;
}

#gnaviShopGuide th,
#gnaviShopGuide td {
	background: #fff;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

#gnaviShopGuide th {
	background: url("../img/shop/plain/shop_th_bg.jpg") repeat-x;
}


.gnaviShopListBase li {
	background: url("../img/shop/plain/shop_list_triangle.jpg") left 6px no-repeat;
}

.gnaviShopPresentPeriod {
	background: url("../img/shop/plain/shop_list_triangle.jpg") left center no-repeat;
}

.gnaviShopCategoryItem li {
	background: url("../img/shop/plain/shop_list_triangle.jpg") left center no-repeat;
}
